#menu {
  list-style: none;
  font-size: 45px;
  color: white;
}

body {
  background-image: url(https://rare-gallery.com/uploads/posts/565963-leo-messi-wallpaper.jpg);
  background-repeat: no-repeat;
}

footer {
  position: relative;
  margin-top: 850px;
  background-color: black;
  width: 1898px;
  height: 85px;
  color: greenyellow;
  font-size: 30px;
  right: 8px;
  display: inline-block;
  
}

.TEXTO{
    color: greenyellow;
    font-size: 30px;
    width: 30%;
    text-align: center;
    display: inline-block;

}








