body{
    background-color: rgb(0, 0, 0);
    height: 2000px;
    margin: 0px;
    padding: 0px;
}

ul{   
    list-style: none;
    color: white;   
}

#nicouisab{
    width: 90%;
    height: 2000px;
    background-image: url(https://www.portalautomotriz.com/sites/portalautomotriz.com/files/media/photos/1_mclaren_p1.jpg);
    background-repeat: repeat-y;
}
